{% extends "base.html" %}

{% block content %}


<form action="/welcome" method="post">
    <label>
        Username 
        <input type="text" name="username" style="margin-left: 50px"/>
    </label>
	<br>
    <label>
        Password 
        <input type="password" name="password" style="margin-left: 54px"/>
    </label>
	<br>
    <label>
        Verify Password 
        <input type="password" name="vpassword" style="margin-left: 10px"/>
    </label>
	<br>
    <label>
        Email (optional) 
        <input type="text" name="email" style="margin-left: 10px"/>
    </label>
	<br>
    <input type="submit" value="Submit Query"/>
</form>

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}


{% endblock %}
